body{
    background-color: blue;
    font-size: 20px;
}
.main{
    height: 620px;
    width: 310px;
    border: 3px solid black;
    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: 0 3px 3px 3px grey;
    margin: auto;
    padding: 8px 10px;
}
h3{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
}
h4{
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
}
.submit{
    margin-top: 20px;
    margin-left: 90px;
}
@media screen and (max-width: 440px){
    body{
        font-size: 10px;
    }
    .main{
        height: 320px;
        width: 180px;
        padding: 2px 3px;
    }
    .submit{
        margin-top: 0;
        margin-left: 3px;
    }
}
@media screen and (max-width: 992px){
    body{
        font-size: 16px;
    }
    .main{
        height: 540px;
        width: 270px;
        padding: 4px 5px;
    }
    .submit{
        margin-top: 10px;
        margin-left: 60px;
    }
}